<html>
<head>
  <title>Main Page</title>
  <style>
    * {
        font-weight: lighter;
    }
    .infoBox {
        min-width: 50vw;
    }
    .postTitle {
        /*border: 1px solid #666666;*/
        /*border-radius: .25rem;*/
        padding-bottom: 1vh;
        margin: 0 1vh 1vh 0.5vh;
        border-bottom: 1px solid white;
    }
    .postTitle:hover {
        border-bottom: 1px solid #666666;
    }
    .postTitle a {
        text-decoration: none;
    }

    @media (max-width: 958px) {
        .infoBox {
            width: 80vw;
        }
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="infoBox">
<!--      <h1 style="display: inline">Hi </h1>-->
      <%# if member_logged_in? %>
<!--        <h1 style="display: inline"><%#= current_member.nickname %></h1><br>-->
      <%# end %>
<!--      <br>-->
      <%#= link_to '게시물 작성', '/post/write', method: 'get' %>
<!--      <hr style="margin: 1vh 0">-->
      <h1>Posts</h1>
      <hr style="margin: 1vh 0">
      <% @posts.each do |post| %>
        <div class="postTitle" style="display: flex; justify-content: space-between">
          <a href="/post/view/<%= post.id %>">
            <p><%= post.title %></p></a>
          <p style="font-size: 0.8rem; padding-right: 0.2vh">
            작성자: <%= find_nickname(post.member_id) %></p>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>