/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
nav {
    /*height: 10vh;*/
    position: relative;
    background-color: #fbc2eb;
    /*background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);*/
    /*background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);*/
    /*background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);*/
    /*background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);*/
    /*background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);*/
    /*background-image: linear-gradient(120deg, #e0c3fc 90%, #8ec5fc 100%);*/
}
nav ul {
    /*width: 100vw;*/
    display: flex;
    /*justify-content: space-around;*/
    list-style: none;
    /*border-bottom: 1px solid white;*/
}
nav ul li {
    text-align: center;
    /*width: 20vw;*/
    height: 100%;
    /*border: 1px solid cadetblue;*/
}
nav ul.right-border-nav-menu li {
    border-right: 1px solid white;
}
nav ul.left-border-nav-menu li {
    border-left: 1px solid white;
}
nav ul li.active-nav-menu {
    background-color: rgba(0, 0, 0, 0.2);
}
nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
nav ul li a {
    display: block;
    min-width: 10vw;
    height: 5vh;
    /*padding: 1.5vh 0;*/
    padding-top: 1.8vh;
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: lighter;
}

.container {
    min-height: 95%;
    display: flex;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.infoBox {
    min-width: 25vw;
    height: auto;
    margin: auto auto;
    text-align: center;
    border: 1vh solid lightcoral;
    background-color: white;
    box-shadow: 0 0 80px black;
    /*margin-top: 80px;*/
    /*width: 100%;*/
}
.infoBox form, .infoBox .post {
    padding: 5vh;
    text-align: center;
}
.flex-space_between {
    display: flex;
    justify-content: space-between;
}
.flex-left {
    display: flex;
    justify-content: left;
}
.flex-right {
    display: flex;
    justify-content: right;
}
input, button, textarea {
    width: auto;
    padding: .5em .75em;
    color: #999999;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    /*cursor: pointer;*/
    border: 2px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    margin-bottom: 1px;
    text-align: center;
}
button {
    cursor: pointer;
}
button:hover {
    background-color: lightcoral;
    border: 2px solid coral;
    color: black;
}

/*::-webkit-scrollbar {*/
/*    width: 10px;  !* 세로축 스크롤바 길이 *!*/
/*    height: 20px;  !* 가로축 스크롤바 길이 *!*/
/*}*/
/*::-webkit-scrollbar-track {*/
/*    background-color: lightblue;*/
/*}*/
/*::-webkit-scrollbar-track-piece {*/
/*    background-color: gray;*/
/*}*/
/*::-webkit-scrollbar-thumb {*/
/*    border-radius: 8px;*/
/*    background-color: black;*/
/*}*/
/*::-webkit-scrollbar-button {*/
/*    background-color: darkblue;*/
/*    width: 20px;*/
/*    height: 10px;*/
/*}*/
/*::-webkit-scrollbar-button:start {*/
/*    background-color: red; !* Top, Left 방향의 이동버튼 *!*/
/*    display: none;*/
/*}*/
/*::-webkit-scrollbar-button:end {*/
/*    background-color: orange; !* Bottom, Right 방향의 이동버튼 *!*/
/*    display: none;*/
/*}*/
/*::-webkit-scrollbar-button:horizontal:increment {*/
/*}*/
/*::-webkit-scrollbar-button:horizontal:decrement {*/
/*}*/
/*::-webkit-scrollbar-corner {*/
/*    background-color: violet; !* 우측 하단의 코너 부분 *!*/
/*}*/
/*::-webkit-resizer {*/
/*    background-color: green;*/
/*}*/